.content{
	background: url(/static/images/bgtu.jpg) no-repeat;
	/*background-size: cover;*/
	width: 100%;
	overflow: hidden;
	font-size: 10px;
}
.logoText{
	width: 26rem;
	height: 3rem;
	margin: 5rem auto 0;
	background: url(../img/text.png) no-repeat;
	background-size: contain;
}
.loginBoxBg{
	width: 26rem;
	height: 25rem;
	margin: 5rem auto 14rem;
	overflow: hidden;
	background: rgba(45,148,206,0.3);
}
.loginBox{
	width: 23rem;
	height: 22rem;
	margin: 1.5rem auto;
	background: #fff;
	border-radius: .8rem;
	text-align: center;
}
.loginBox h3{
	font-size: 1.6rem;
	font-weight: 400;
	font-family: "微软雅黑";
	padding: 1.5rem 0 0;
}
.login input{
	position: relative;
	width: 20rem;
	height: 3rem;
	margin: 1.5rem auto 0;
	text-indent: 1rem;
}
.go_other{
    width: 20rem;
    height: 1rem;
    position: relative;
    font-size: 0.8rem;
    line-height: 1rem;
    margin-top: 1rem;
}
.go_other label{
	float: left;
    height: 1rem;
    line-height: 1rem;
    margin-left: 1.5rem;
}
.go_other label i{
    display: inline;
    height: 1rem;
    line-height: 1rem;
    position: relative;
    top: -.3rem;
    left: .5rem;
}
.link_forget{
	float: right;
}
.go_other a{
	color: #9b9b9b;
}
.go_other a:hover{
	text-decoration: underline;
}
#saveName{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0;
}
#logining{
	text-indent: 0;
	color: #fff;
	background: #3c8cd7;
	border: none;
	border-radius: 8px;
}
.footer{
	width: 100%;
	 overflow: hidden; 
}
.foot {
	margin:0 auto;
	text-align: center;
	line-height: 22px;
	margin-top:21px;
	font-size:12px;
	color:#333;
}
.foot a{
	color:#333;
}
.foot-nav {
	height: 38px; 
	line-height: 38px;
}
.foot-nav span { 
	margin: 0 16px;
}
.foot .foot-list {
	height: 38px; 
	line-height: 38px; 
	margin-top:8px;
}
.foot .foot-list span {
	margin: 0 10px;
}
#cnzz_stat_icon_1271442879 a img{position: relative;top: 5px;left :-15px;}