<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gkhn.wms.mapper.LinkbuyerMapper" >      
  <resultMap id="BaseResultMap" type="com.gkhn.wms.pojo.Linkbuyer" >  
    <id column="OWNERID" property="OWNERID"/>
    <result column="GOODID " property="GOODID"  />
    <result column="LINKID" property="LINKID"  />
    <result column="BUYERID" property="BUYERID"   />
    <result column="WAREBRAND" property="WAREBRAND"   />
    <result column="CREATEDATE" property="CREATEDATE"   />
    <result column="CREATEUSER" property="CREATEUSER"  />
    <result column="MARK" property="MARK" />
 
 <result column="deptname" property="deptname" />
 <result column="linkcode" property="linkcode" />
 <result column="linkname" property="linkname" />
 <result column="name" property="name" />
 <result column="spec" property="spec" />
 <result column="msunitno" property="msunitno" />
 <result column="packnum" property="packnum" />
  <result column="producer" property="producer" />
  <result column="goodsbrand" property="goodsbrand" />
    
   <result column="empname" property="empname" />
   <result column="buyername" property="buyername" />
   <result column="createempcode" property="createempcode" />
    <result column="createempname" property="createempname" />
  </resultMap>
     
       		<!-- //查询列表 -->
  <select id="selectLinkbuyerList" resultMap="BaseResultMap"> 
	    
  SELECT * FROM  (  
SELECT t1.*, ROWNUM RN  
FROM (select a.ownerid,d.deptname,a.linkid,e.linkcode,e.linkname,a.goodid,b.goods,b.name,b.spec,b.msunitno,b.packnum,b.producer,
		b.warebrand goodsbrand,
        a.buyerid,c.empname as buyername,a.warebrand,a.createdate,a.createuser,c1.empcode createempcode,c1.empname createempname
		from user_hn_linkbuyer a,
	     pub_waredict b,
	     pub_emp c,
	     pub_dept d,
	     pub_emp c1,
	     scm_buyercst_linkman e
	    where a.goodid = b.goodid and a.buyerid = c.empid and a.ownerid = d.deptid and a.createuser = c1.empid
	    and   a.linkid = e.linkid  and  a.OWNERID=${OWNERID} 

   	<if test="name!=null">
			and ( b.name like '%${name}%' or  a.goodid like '%${goodid}%') 
     </if>
		) t1  
WHERE ROWNUM &lt;=  ${size} )  WHERE RN > ${startpage}
	    
  </select>
       
        <select id="selectBuyerCount" resultType="java.lang.Integer" >
		 select count(*)  from user_hn_linkbuyer a,
	     pub_waredict b,
	     pub_emp c,
	     pub_dept d,
	     pub_emp c1,
	     scm_buyercst_linkman e
	    where a.goodid = b.goodid and a.buyerid = c.empid and a.ownerid = d.deptid and a.createuser = c1.empid
	    and   a.linkid = e.linkid   and  a.OWNERID=${OWNERID}
		  </select>
       
      <insert id="addLinkBuyer" parameterType="com.gkhn.wms.pojo.Linkbuyer" >
			INSERT INTO user_hn_linkbuyer  	VALUES (${OWNERID },	${GOODID },${LINKID },	${BUYERID },'${WAREBRAND }',	to_date('${CREATEDATE}','yyyy-MM-dd HH24:mi:ss'),
			  ${CREATEUSER},'${MARK}' )	
</insert>
       
	    <delete id="delLinkBuyer" parameterType="com.gkhn.wms.pojo.Linkbuyer">
	  	DELETE FROM user_hn_linkbuyer 
		WHERE createuser=${CREATEUSER} and goodid=${GOODID} and ownerid=${OWNERID}  and linkid=${LINKID} and buyerid=${BUYERID}
	  </delete>
     
       <update id="updateLinkBuyer"  parameterType="com.gkhn.wms.pojo.Linkbuyer">
				UPDATE user_hn_linkbuyer
				SET buyerid=${BUYERID},warebrand='${WAREBRAND}'
				WHERE ownerid=${OWNERID} and goodid=${GOODID} and linkid=${LINKID} and buyerid=${BUYERIDS}
       </update>
       
       
</mapper>