<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gkhn.wms.mapper.OPdeptMapper" >      
  <resultMap id="BaseResultMap" type="com.gkhn.wms.pojo.Odept" >  
    <id column="deptid" property="deptid"/>
    <result column="deptname " property="deptname"  />
    <result column="ownerid" property="ownerid"  />
  </resultMap>
     
       		<!-- //查询列表 -->
  <select id="selectDeptList" resultMap="BaseResultMap" parameterType ="String"> 
		select * from  pub_dept 
		<if test="name!=null">
		where  deptname like '%${name}%'
		</if>
  </select>
       
</mapper>