<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gkhn.wms.mapper.UserMapper" > 
  <resultMap id="BaseResultMap" type="com.gkhn.wms.pojo.User" >
    <result column="uid" property="uid"  />
    <result column="username" property="username"  />
    <result column="roleid" property="roleid"  />
  </resultMap>
	       
        <select id="selectUserQx"   resultType="java.lang.Integer"  >
               	<!-- SELECT roleid FROM sys_user a LEFT JOIN sys_user_role  b  ON   a.uid=b.uid    WHERE a.username='${username}'	 -->	
               	SELECT roleid FROM   sys_user_role    WHERE userid=${username}	  
       </select>  
</mapper>